* {
  box-sizing: border-box;
  font-family: 'Sansita Swashed', cursive;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(132, 243, 225);
  font-family: 'Sansita Swashed', cursive;
}

/* .center {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  max-height: 100vh;
  align-content: center;
} */

.page {
  background-color: white;
  padding: 20px;

  border-radius: 5px;
}

.header {
  flex: 0 1 auto;
  width: 200px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 10px;

  margin-bottom: 10px;
}

.wrapper__list-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 3 1 auto;
  background-color: azure;
  border-radius: 10px;
  padding: 10px 10px;
}

.wrapper__note {
  position: relative;

  padding: 0;
  margin: 10px 10px;
  background-color: white;
}

.note {
  border: 1px solid #999;
  border-radius: 5px;

  max-height: 160px;
  overflow: auto;

  padding: 7px;
  margin: 10px 10px;
}
.note:hover {
  cursor: pointer;
}

.delete-note-btn {
  position: absolute;
  left: 215px;
  top: 1px;
  width: 30px;
  height: 30px;

  background-color: white;
  color: rgb(241, 58, 89);
  border: 1px solid #999;
  border-radius: 100%;

  font-size: 20px;

  padding: 0;
}

.center__title {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.title__reload {
  width: 20px;
  height: 20px;

  margin-left: 5px;
  padding: 3px;
  border: 0.5px solid black;
  border-radius: 100%;
}

.wrapper__add-note {
  position: relative;
}

textarea {
  padding: 15px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  height: 150px;
  resize: none;
}
textarea:hover {
  border: 1px solid rgb(153, 153, 153);
}
textarea:focus {
  outline: none;
  -moz-appearance: none;
}

.add-note__btn {
  position: absolute;

  width: 80px;
  background-color: rgb(0, 247, 255);
  border-radius: 10px;
  border: 0.5px solid #999;
  top: 170px;
  right: 4px;
}

.cancel-note__btn {
  position: absolute;

  width: 80px;
  background-color: rgb(0, 247, 255);
  border-radius: 10px;
  border: 0.5px solid #999;
  top: 170px;
  right: 120px;
}
.update__btn {
  width: 30px;
  height: 30px;
}
